*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif !important;
    height: 100vh;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: transform .5s ease-in, opacity .5s ease-in;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}


nav, .mobile-navbar {
    background-color: rgba(2, 66, 29, 0.5);
    transition: all .3s ease-in-out;
}


img.mobile-logo-image, img.logo-image {
    border-radius: 23% 0% 24% 0% / 22% 10% 23% 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 90px;
    background-color: #ffffff;
    min-width: 60px;
}

.sidebar {
    background-color: rgba(184, 226, 197, 0.4);
    box-shadow: rgba(2, 119, 70, 0.15) 0px 5px 15px 0px;
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 99;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar.translate-x-0 {
    transform: translateX(0);
}

li.sidebar-nav-link-active {
    background-color: #f0fdf4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#menuBtn i {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menuBtn .fa-xmark {
    transform: rotate(180deg);
}

h1 {
    font-family: 'Times New Roman', Times, serif !important;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-image {
    opacity: 0;
    transition: opacity 1s ease;
}

.carousel-image.active {
    opacity: 1;
}

.advantage-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}

.popular-room-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.deluxe-room {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.testimonial-people {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.location-icon-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.popular-room::before{
    display: none;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(5 46 22);
}

a.book-now-floating-btn {
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    right: 5%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

a.link-active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.corner-frames img {
    position: absolute;
}

.corner-frames img:nth-child(1) {
    left: 1px;
    bottom: 1px;
}

.corner-frames img:nth-child(2) {
    right: 1px;
    bottom: 1px;
}

.corner-frames img:nth-child(3) {
    left: 1px;
    top: 1px;
}

.corner-frames img:nth-child(4) {
    right: 1px;
    top: 1px;
}

@media (min-width: 1400px) {

    .deluxe-room {
        box-shadow: none;
    }

}

@media (min-width: 1280px) {

}

@media (min-width: 1024px) {


}

@media (min-width: 768px) {

    .popular-room::before{
        display: block;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgb(5 46 22);
    }

}

@media (min-width: 640px) {

    

}

